@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

body {
    font-family: 'Open Sans', sans-serif;
    min-height: 740px;
    background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:     -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));    
}

a {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    color: #D14;
}

/*
 * fallback message style
 */

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;
    
    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}

/*
 * step style
 */

.step {
    position: relative;
    width: 1000px;
    height: 700px;
    padding: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -1px;
}

.impress-enabled .step {
    margin: 0;
    opacity: 0.3;
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active {
    opacity: 1;
}


/*
 * Slide style
 */
.slide {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    color: rgb(102, 102, 102);
}

h1 {
    margin: 0 0 30px 0;
    font-size: 56px;
}

code {
    font-size: 40px;
}

code.pre {
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    display: block;
    font-size: 18px;
    padding: 10px 10px;
    margin: 0 0 20px 0;
}

code.pre.console {
    background-color: #000;
    color: #fff;
    border: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    padding: 0;
    margin: 0 0 10px 0;
}

ul .plus,
ul .minus {
    font-size: 48px;
    background-color: #F7F7F9;
    height: 54px;
    line-height: 54px;
    width: 54px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    display: inline-block;
}

ul .plus {
    color: #D14;
}
ul .minus {
    color: #333;
}

p.definition {
    text-align: left;
    margin: 0 0 20px 0;
    padding: 10px 10px 10px 20px;
    border-left: 4px solid #999;
}

#introduction {
    padding: 40px 60px;
    text-align: center;
}

#introduction h1 {
    text-align: center;
}

#introduction h1 code {
    font-size: 200px;
    font-weight: normal;
}

#introduction .names {
    display: block;
    margin: 140px auto 0;
    width: 400px;
    height: 60px;
}

#introduction .names span {
    display: block;
    float: left;
    width: 200px;
    height: 60px;
    font-size: 20px;
    text-align: center;
}

#introduction .company {
    display: block;
    margin: 60px auto 0;
    width: 400px;
    text-align: center;
}

#end {
    width: 900px;
    height: 600px;
    padding: 20px 60px;
}

#end h1 {
    color: #D14;
    text-align: center;
    margin: 0 0 40px 0;
}

#end img {
    width: 400px;
    display: block;
    margin: 0 auto;
}

#end a {
    display: block;
    margin: 20px;
    text-align: center;
}


#worksonmymachine img {
    width: 600px;
    display: block;
    margin: 0 auto;
}

#architecture {
    width: 1100px;
    height: 620px;
}

#architecture .dev,
#architecture .test,
#architecture .pro {
    width: 280px;
    float: left;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

#architecture .pro .env {
    margin: 106px 0 102px 0;
}

#architecture .vm {
    padding: 20px;
    background-color: #eee;
    border-radius: 10px 10px 0 0;
    margin: 20px 0 0 0;
}

#architecture .vagrant {
    background-color: #ddd;
    padding: 20px;
    border-radius: 0 0 10px 10px;
}

#architecture .env {
    padding: 20px;
    background-color: #ddd;
    border-radius: 10px;
    margin: 20px 0 0 0;
}

#architecture .title {
    text-align: center;
    display: block;
    color: #D14;
    font-weight: bold;
    margin: 0;
    font-size: 30px;
    line-height: 45px;
}